body {
	margin: 0;
	padding: 0;
	display: flex;
	min-height: 100vh;
	background: #862020 url("assets/bg.jpg");
	background-size: cover;
}

* {
	position: relative;
	color: #fff;
}

main {
	padding: 1rem;
	margin: auto;
}

/* two col */
@media (min-width: 600px) {
	main {
		display: flex;
	}
	.content {
		margin-left: 2rem;
	}
}

.bandcamp {
	flex: 0 0 350px;
	background-color: rgba(0,0,0,0.5);
	box-shadow: 0 1px 1.5rem rgba(0,0,0,0.5);
}